@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

/* Variables Globales */
:root {
    --img-height: 400px;  /* Ajusta la altura de las imágenes */
    --img-padding: 10px;   /* Padding adicional para el carrusel */
    --primary-color: #ffcc00; /* Color principal */
    --background-color: #000; /* Color de fondo */
    --text-color: #fff; /* Color de texto */
    --border-color: lightgray; /* Color del borde */
  }
  
  /* Estilos Generales */
  body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-brand, .nav-link {
    color: #000 !important;
  }
  
  .nav-link:hover {
    color: #000 !important;
  }
  
  /* Estilos para el carrusel */
  .carousel-inner img {
    max-height: var(--img-height);
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-inner img, .card-img-top {
    aspect-ratio: 16/9;
  }
  
  .card {
    margin-bottom: 1.5rem;
    background-color: #333;
    border: 2px solid var(--primary-color);
    border-radius: 0;
  }
  
  .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  /* Estilos para el footer */
  .footer {
    background-color: var(--primary-color);
    color: #000;
    padding: 20px 0;
  }
  
  /* Estilos para el texto del footer */
  .footer h2 {
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
  }
  
  /* Newsletter */
  .newsletter {
    text-align: left;
  }
  
  /* Redes sociales */
  .social-media {
    text-align: right;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .social-media ul li a {
    color: #000;
    font-size: 50px; /* Aumenta el tamaño del icono */
    text-decoration: none;
  }
  
  .social-media ul li a:hover {
    color: #fff;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .form-section form {
    width: 50%;
    margin: 20px auto;
  }
  
  @media (max-width: 768px) {
    .form-section form {
      width: 70%;
    }
  }
  
  @media (max-width: 480px) {
    .form-section form {
      width: 90%;
    }
  }
  
  .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .location {
    width: 45%;
    margin: 20px;
  }
  
  .location iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }
  
  @media (max-width: 768px) {
    .location {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .location {
      width: 100%;
    }
  }
  
  #títulos {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* Centra solo el contenedor del botón */
  .centered-button {
    display: flex;
    justify-content: center;
  }
  
  /* Estilo del botón */
  .submit-button {
    background-color: var(--primary-color);
    color: #000;
    opacity: 1;
    width: 90%;
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0;
    box-sizing: border-box;
    margin: 10px auto;
    transition: transform 0.2s ease;
    text-align: center;
  }
  
  /* Efecto hover del botón */
  .submit-button:hover {
    transform: scale(1.05);
  }
  
  /* Caños decorativos */
  .timeline:before,
  .timeline:after {
    content: "";
    position: absolute;
    background: url('https://mario.nintendo.com/static/pipe-2x-1a62c181bb0bcd6a84b8b0dd4e31d490.png') no-repeat;
    background-size: auto 100%;
    background-position: left center;
    width: 12%;
    height: 120%;
    z-index: 100;
  }
  
  .timeline:before {
    left: 0;
    transform-origin: center center;
    transform: scaleX(-1);
  }
  
  .timeline:after {
    right: 0;
  }
  
  /* Estilo para el carrusel */
  .carousel {
    width: 100%;
    height: calc(var(--img-height) + (var(--img-padding) * 8));
  }
  
  .carousel-cell {
    background: white;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 4px transparent, 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para las flechas de navegación */
  .flickity-prev-next-button {
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flickity-prev-next-button.previous {
    left: -10px;
    border-radius: 0% 60px 60px 0%;
  }
  
  .flickity-prev-next-button.next {
    right: -10px;
    border-radius: 60px 0% 0% 60px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    fill: white;
  }
  
  /* Estilo para hacer que el dropdown se muestre al posar el mouse */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Por defecto, el menú dropdown debe estar oculto */
  .dropdown-menu {
    display: none;
  }
  
  /* Estilo adicional para el dropdown */
  .nav-item.dropdown {
    position: relative;
  }
  
  /* Opcional, para mejorar la visibilidad del submenú */
  .nav-item.dropdown:hover > .nav-link {
    color: #ffcc00;  /* Cambiar el color del texto al pasar el mouse */
  }

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 50px;
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: 20px;
}

.portfolio-item {
    border-radius: 10px;
    margin: 20px 1.6%;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.portfolio-item img {
    object-fit: cover;
    transition: transform 200ms ease-in;
    height: 100%;
    width: 100%;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-content {
    background-color: #293347;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    width: 100%;
    height: 100%;
}

.portfolio-item:hover .portfolio-content {
    opacity: 1;
}

.portfolio-content p {
    color: #fff;
    font-size: 20px;
    padding: 0 40px;
}

.portfolio-content a {
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    margin-top: 20px;
    padding: 7px 15px;
    text-decoration: none;
}

@media (max-width: 960px) {
    .portfolio-item {
        width: 48%;
        margin: 15px 1%;
    }
}

@media (max-width: 768px) {
    .portfolio-item {
        width: 100%;
        margin: 15px 0;
    }
}